canvas {
  z-index: 1;
  max-height: 45rem;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.graph-section {
  display: grid;
  grid-template-columns: 1fr;
}

/*INFO SECTION*/
.info-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4.5rem;
  margin: 0 0 5rem 15rem;
  z-index: 1;
  color: #399a80;
}
.info-card {
  max-width: 60rem;
  max-height: 20rem;

  display: grid;
  grid-template-columns: 1fr 3fr;

  background-color: #1c2438;
  border-radius: 7px;
}

.info-card:hover {
  transform: scale(1.05);
}

.info-image {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}
.icon {
  max-width: 6rem;
  filter: invert(47%) sepia(66%) saturate(328%) hue-rotate(113deg)
    brightness(96%) contrast(97%);
}
.info-text {
  padding: 1rem;
  gap: 0rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
}

.chart {
  max-width: 42rem;
  margin: 0 0 0 10rem;
}
.data {
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #dadae4;
}

.description {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}
