* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 80%;
}

body {
  background-color: #151929;
}

canvas {
  z-index: 1;
  max-height: 45rem;
}

.active {
  display: block;
  transition: all ease-in 1s;
}
.hidden {
  display: none;
  transition: all ease-in 1s;
}

.overlay {
  z-index: 2;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border-radius: 10px;
}

.nav-passive-grid {
  grid-template-columns: 1fr 10fr;
}

.nav-active-grid {
  grid-template-columns: 3fr 10fr;
  transition: all ease 0.2s;
}

/*BOX DISPLAY*/
.home-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  transition: all ease-in 0.2s;
}

.content-box {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4.5rem;
}

.graph-section {
  display: grid;
  grid-template-columns: 1fr;
}
/*NAVIGATION*/
.nav {
  position: fixed;
  width: 6rem;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 20fr;
  background-color: #1c2438;
  z-index: 5;
  transition: width 200ms ease;
}

.nav:hover {
  width: 20rem;
}

.nav:hover .link-text {
  display: block;
}

.nav-list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 17rem;
  align-items: flex-start;
}

.nav-link {
  display: flex;
  align-items: center;
  width: 20rem;
  height: 5rem;
  color: #dadae4;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  color: #399a80;
  transition: ease 0.3s;
  background-color: #399a800d;
}

.nav-link svg {
  min-width: 2.1rem;
  max-width: 2.1rem;
  margin: 0 1.5rem;
}
.link-text {
  display: none;
  margin-left: 1rem;
  font-family: "Ruda", sans-serif;
  font-size: 1.8rem;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: 33rem;
}

/*HEADER*/
.header {
  min-height: 7rem;
  margin: 0 0 5rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #151929;
}

.greeter {
  font-family: "Ruda", sans-serif;
  font-size: 2rem;
  margin: 0 6rem 0 0;
  color: #dadae4;
}

/*INFO SECTION*/
.info-section {
  margin: 0 0 5rem 15rem;
  z-index: 1;
  color: #399a80;
}
.info-card {
  max-width: 60rem;
  max-height: 20rem;

  display: grid;
  grid-template-columns: 1fr 3fr;

  background-color: #1c2438;
  border-radius: 7px;
}

.info-card:hover {
  transform: scale(1.05);
}

.info-image {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}
.icon {
  max-width: 6rem;
  filter: invert(47%) sepia(66%) saturate(328%) hue-rotate(113deg)
    brightness(96%) contrast(97%);
}
.info-text {
  padding: 1rem;
  gap: 0rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
}

.chart {
  max-width: 42rem;
  margin: 0 0 0 10rem;
}
.data {
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #dadae4;
}

.description {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}
